# Gradle
.gradle/
build/
buildSrc/build/
buildSrc/.gradle/
!gradle/wrapper/gradle-wrapper.jar

# Minecraft dev runs
run/
versions/*/run/

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.classpath
.project
bin/
out/

# OS
.DS_Store
Thumbs.db
